<article
  class="flex flex-column md:flex-row w-full gap-3 p-3 border-round border-1 surface-border mb-3 ng-star-inserted"
>
  <div *ngIf="projet.img" class="relative mr-2">
    <p-image
      [src]="projet.img"
      alt="Image"
      imageClass="border-round w-full h-full md:w-14rem md:h-14rem"
      [preview]="true"
    />
  </div>
  <div class="flex flex-column w-full gap-3">
    <div class="flex w-full justify-content-between align-items-center">
      <p class="font-semibold text-lg mt-0 mb-0 mr-3">
        {{ projet.name }}
      </p>
    </div>
    <p class="font-normal text-lg text-600 mt-0 mb-0">
      {{ projet.descripition }}
    </p>
    <p>
      <a
        [href]="projet.link"
        target="_blank"
        rel="noopener noreferrer"
        class="p-2"
      >
        {{ projet.link }}
      </a>
    </p>
    <div class="flex flex-row flex-wrap mt-auto">
      <p-chip
        *ngFor="let item of projet.stack"
        [label]="item"
        class="mr-2 mb-2"
      ></p-chip>
    </div>
  </div>
</article>
